@font-face {
  font-family: Inter;
  src: url("./InterFonts/Inter-Black.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url("./InterFonts/Inter-Bold.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("./InterFonts/Inter-ExtraBold.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("./InterFonts/Inter-ExtraLight.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("./InterFonts/Inter-Light.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("./InterFonts/Inter-Medium.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("./InterFonts/Inter-Regular.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("./InterFonts/Inter-SemiBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("./InterFonts/Inter-Thin.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
