/* --text-color
--nav-link-hover
--nav-bg-hover */
.navBar {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding-left: 16px;
  margin-bottom: 25px;
}
.navLink {
}
.notification {
  font-size: 22px;
}
.navItem {
  transition: ease-in-out 0.5s;
  margin-left: 15px;
}
.navItem:hover {
  color: var(--nav-link-hover);
  background-color: var(--nav-bg-hover);
  border-bottom: 3px solid var(--text-b-b);
  width: 100%;
  height: 100px;
  padding: 8px;
  border-radius: 5px 5px 0 0;
}
