* {
  box-sizing: border-box;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter;
}
:root {
  --sidbar-bg: #364066;
  --text-color: #928ea0;
  --logo-color: #a3a3d9;
  --text-change-page-color: #364066 80%;
  --text-hover-color: #fff;
  --text-bg-hover-color: #a3a3d9 16%;
  --text-b-b: #5248ac;
  --bg-login: #131725;
  --nav-link-hover: #5248ac;
  --nav-bg-hover: #5248ac31;
  --nav-text-shift: rgba(54, 64, 102, 0.8);
}
.link {
  text-decoration: none;
  color: #ccc;
}
.link:active {
  color: var(--text-color);
}

li {
  list-style: none;
}
.content-app {
  display: flex;
  flex-direction: row;
}
.sidbar-content {
  width: 16rem;
  height: 100vh;
  /* background: radial-gradient(
    151.88% 64.7% at 0% 35.3%,
    rgba(83, 83, 83, 0.64) 0.55%,
    rgba(0, 0, 0, 0.64) 100%
  ); */
  background-color: #1a1e2c;
}
.main-and-header {
  width: 80%;
}
